$phone-width: 640px;
$desktop-width: 1024px;
$bg-color:#edde9c;
html{
  scroll-behavior: smooth;
}
body{
    margin: 0 auto;
    left: 0;
    top: 0;
    color:white;
    background: url("../src/assets/images/background/bg.png")no-repeat center center fixed,$bg-color;
    background-position: center;
    
    
}
.App{
    padding: 0 2rem;
}
a{
  color: black;
}
.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
::-webkit-scrollbar {
    width: 6px;
  }
  
  ::-webkit-scrollbar-track {
    background: $bg-color;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #bc2e1e;
    border-radius: 15px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #378ab4;
  }

    
@mixin phone {
  @media (max-width: #{$phone-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

body {
  @include phone {
  background: url("../src/assets/images/background/mobilebg.png") no-repeat center center fixed,$bg-color;
  background-size: cover; 

  }

  @include desktop {
    background: url("../src/assets/images/background/bg.png")no-repeat center center fixed,$bg-color;
    background-position: cover;
  }
}
